<div class="card rounded shadow-sm p-3">
  <div class="search-box">
    <div class="search-input">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input
        type="text"
        class="form-control"
        placeholder="Filtrar por tema e local..."
        [(ngModel)]="filterList"
        />
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="btn-new">Novo</b>
      </a>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th class="th-resp">
          <button (click)="changeImgBtn()" class="btn btn-outline-light btn-sm">
            <i class="fa fa-eye{{ showImg ? '' : '-slash' }}"></i>
            {{ showImg ? ' Mostrar' : ' Ocultar' }}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th class="th-resp">Local</th>
        <th>Data</th>
        <th class="th-resp-vr-sm">Pessoas</th>
        <th class="th-resp-sm">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos">
      <tr class="trow" *ngFor="let evento of eventosFilters" (click)="detalheEvento(evento.id)">
        <td class="th-resp">
          <img
          [collapse]="showImg"
          [isAnimated]="true"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          src="{{ evento.imagemURL }}"
          />
          <span [collapse]="!showImg" [isAnimated]="true"> Imagem... </span>
        </td>
        <td>{{ evento.id }}</td>
        <td>{{ evento.tema }}</td>
        <td class="th-resp">{{ evento.local }}</td>
        <td >{{ evento.dataEvento | DateTimeFormat }}</td>
        <td class="th-resp-vr-sm">{{ evento.qtdPessoas }}</td>
        <td class="th-resp-sm">
          <span *ngFor="let lote of evento.lotes">
            {{ lote?.nome | uppercase }}
          </span>
        </td>
        <td>
          <button class="btn btn-danger" tooltip="Excluir"
          (click)="openModal($event, modalDelete, evento.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos || !eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #modalDelete>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o evento de código {{eventoId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
