<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid' : f.tema.errors && f.tema.touched}"
            formControlName="tema" placeholder="Insira o Tema">
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            O tema é obrigatório!
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            O campo permite ter no minimo 4 caracteres!
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            O campo permite ter no maximo 50 caracteres!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" [ngClass]="cssValidator(f.local)"
          class="form-control" formControlName="local" placeholder="Local sede do evento">
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigatório!
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control"
          [ngClass]="cssValidator(f.dataEvento)"
          value="{{evento.dataEvento|DateTimeFormat}}"
          bsDatepicker
          [bsConfig]="bsConfig"
          formControlName="dataEvento" placeholder="">
          <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
            Data e hora são obrigatórios!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Quantidade Pessoas</label>
          <input type="number" [ngClass]="cssValidator(f.qtdPessoas)"
          class="form-control" formControlName="qtdPessoas" placeholder="Ex: 200">
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
            Quantidade de pessoas é obrigatório!
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
            Máximo de pessoas permitidas 120.000!
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input type="text"  [ngClass]="cssValidator(f.telefone)"
          class="form-control" formControlName="telefone" placeholder="(000) 90000-0000">
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigatório!
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input type="text" [ngClass]="cssValidator(f.email)" class="form-control" formControlName="email" placeholder="example@example.com">
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            Email é obrigatório!
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            É necessário que seja um email!
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text" [ngClass]="cssValidator(f.imagemURL)" class="form-control" formControlName="imagemURL" placeholder="Imagem do evento">
          <div *ngIf="f.imagemURL.errors?.required" class="invalid-feedback">
            Imagem é obrigatório!
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="saveEvent()" >
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
